@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bottom border for portfolio table header */
#asset-1::after {
    width: auto;
    height: 5px;
    background: white;
    /* border-left: 5px solid white; */
}

/* breakpoint for overall portfolio balance. Does not currently work. */
@media (min-width: 1830px) {
    .customBreakpoint {
        width: 50%;
    }
}

/* landing image drop shadow */
.customShadow {
    /* box-shadow: 6px 2px 15px black; */
    /* box-shadow: 10px 16px 40px #111; This was the original we had on Tuesday */
    box-shadow: 15px 15px 20px rgba(1, 1, 1, 0.6);
}

/* landing image width */

.customWidth {
    width: 650px;
}

/* button drop shadow */

.buttonShadow {
    box-shadow: 3px 3px 4px rgba(1, 1, 1, 0.4);
}