@tailwind base;
@tailwind components;
@tailwind utilities;

/* Bottom border for portfolio table header */
#asset-1::after {
    width: auto;
    height: 5px;
    background: white;
    /* border-left: 5px solid white; */
}

/* breakpoint for overall portfolio balance. Does not currently work. */
@media (min-width: 1830px) {
    .customBreakpoint {
        width: 50%;
    }
}

/* Login input boxes. This is still not working and can be removed */
.customInput {
    width: 100px !important;
}