{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<!-- Google API for fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@400&family=Maven+Pro&display=swap" rel="stylesheet">

<style>
  body {
    background-image: url("{% static '/images/bg5.jpg' %}") !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(15px);
  }
</style>

<nav class="px-2 sm:px-4 py-4">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="{% url 'mc' %}" class="flex items-center">
          <img src="{% static 'images/apelogotext.svg' %}" class="h-16" alt="Logo">
      </a>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex items-center mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <a href="#" class="block py-2 px-7 fontKanit text-yellow-400 border border-yellow-400 rounded-full hover:bg-opacity-30 hover:outline ease-in-out duration-150 hover:bg-[#01013D]">Connect Wallet</a>
          </li>
          <li>
            <!-- Settings dropdown -->
            <div class="relative inline-block text-left">
              <button class="settingsButton rounded-full hover:bg-[#454570]" type="button" onclick="settingsDropdown()">
                <img src="{% static 'images/settingsIcon.svg' %}" class="h-8" alt="settingsIcon">
              </button>
              <div id="dropdownMenu" class="hidden absolute right-0 z-10 mt-2 w-52 h-auto origin-top-right bg-[#230679]/70 border border-[#6F7CF1]/40 rounded-lg shadow-lg">
                <div class="flex flex-col" role="none">
                  <!-- User info -->
                  <div class="flex justify-center text-white mt-7">
                    <svg class="svg-icon" style="width: 4em; height: 4em;vertical-align: middle;fill: currentColor;overflow: hidden;" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg"><path d="M512 1024a510.421333 510.421333 0 0 1-371.584-160A511.850667 511.850667 0 1 1 512 1024z m309.632-160a466.965333 466.965333 0 0 0-619.264 0 467.477333 467.477333 0 0 0 619.264 0zM746.666667 469.333333a234.666667 234.666667 0 1 0-234.666667 234.666667 234.666667 234.666667 0 0 0 234.666667-234.666667zM512 42.666667A468.864 468.864 0 0 0 171.370667 834.133333a510.528 510.528 0 0 1 219.52-115.690666 277.333333 277.333333 0 1 1 242.218666 0 510.528 510.528 0 0 1 219.52 115.690666A468.864 468.864 0 0 0 512 42.666667z"  /></svg>
                  </div>
                  <div class="flex justify-center text-[#FFFDC9] fontMavenpro mt-1 mb-7">
                    {{ user.username }}
                  </div>
                  <!-- Buttons -->
                  <div class="flex justify-between bg-[#230679] border-t border-[#6F7CF1]/40 rounded-b-lg p-2">
                    <a href="#" class="text-[#FFFDC9] fontMavenpro block rounded text-md py-1 px-2 hover:bg-blue-100/20 hover:text-white" id="menu-item-0">Settings</a>
                    <form method="post" action="#" role="none" class="mb-0">
                      <button type="submit" class="text-[#FFFDC9] fontMavenpro block rounded w-full text-left text-md py-1 px-2 hover:bg-blue-100/20 hover:text-white" id="menu-item-1">Log out</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>

<script>

// Dropdown for settings icon
function settingsDropdown() {
  const x = document.getElementById("dropdownMenu");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  window.onclick = function (event) {
    if (event.target == x) {
        x.style.display = "none";
    }
}
}

// Close dropdown if user clicks outside of it

  </script>

{% block content %} {% endblock content %}
