{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<!-- Google API for fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@400&family=Maven+Pro&display=swap" rel="stylesheet">

<style>
  body {
    background-image: url("{% static '/images/bg5.jpg' %}") !important;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    backdrop-filter: blur(15px);
  }
</style>

<nav class="px-2 sm:px-4 py-4">
    <div class="container flex flex-wrap justify-between items-center mx-auto">
      <a href="mc" class="flex items-center">
          <img src="{% static 'images/apelogotext.svg' %}" class="h-16" alt="Logo">
      </a>
      <div class="hidden w-full md:block md:w-auto" id="navbar-default">
        <ul class="flex items-center mt-4 md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium">
          <li>
            <a href="#" class="block py-2 px-7 fontKanit text-yellow-400 hover:text-white border border-yellow-400 rounded-full">Connect Wallet</a>
          </li>
          <li>
            <!-- Settings dropdown -->
            <div class="relative inline-block text-left">
              <button class="settingsButton rounded-full hover:bg-[#454570]" type="button" onclick="settingsDropdown()">
                <img src="{% static 'images/settingsIcon.svg' %}" class="h-8" alt="settingsIcon">
              </button>
              <div id="dropdownMenu" class="hidden absolute right-0 z-10 mt-2 w-56 origin-top-right bg-[#230679]/70 border border-[#6F7CF1]/40 rounded-lg shadow-lg ring-1">
                <div  role="none">
                  <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
                  <a href="#" class="text-[#FFFDC9] fontMavenpro block rounded-t-lg px-4 py-2 text-md hover:bg-blue-100/20 hover:text-white" id="menu-item-0">Settings</a>
                  <form method="POST" action="#" role="none">
                    <button type="submit" class="text-[#FFFDC9] fontMavenpro block w-full px-4 py-2 text-left text-md hover:bg-blue-100/20 hover:text-white" id="menu-item-1">Sign out</button>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
</nav>

<script>

// Dropdown for settings icon
function settingsDropdown() {
  const x = document.getElementById("dropdownMenu");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }

  window.onclick = function (event) {
    if (event.target == x) {
        x.style.display = "none";
    }
}
}

// Close dropdown if user clicks outside of it

  </script>

{% block content %} {% endblock content %}
