{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<!-- Google API for fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@400&family=Maven+Pro&display=swap" rel="stylesheet">

<style>
    body {
      background-image: url("{% static '/images/bg5.jpg' %}") !important;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      backdrop-filter: blur(15px);
    }
</style>
<div class="container">
    <div class="flex justify-center h-screen w-screen">
        <div class="flex flex-col self-center w-96 bg-[#230679]/70 border border-[#6F7CF1]/40 rounded-xl drop-shadow-lg p-5"> <!-- input div box -->
            {% block content %} {% endblock content %}
        </div>
    </div>
</div>
