{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<style>
    body {
      background-image: url("{% static '/images/bg5.jpg' %}") !important;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      backdrop-filter: blur(15px);
    }
</style>
<div class="container">
    <div class="flex justify-center h-screen w-screen">
        <div class="flex flex-col self-center bg-white w-72 rounded-xl drop-shadow-lg p-5"> <!-- input div box -->
            {% block content %} {% endblock content %}
        </div>
    </div>
</div>

