{% load static %}
<script src="https://cdn.tailwindcss.com"></script>
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">
<!-- Google API for fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Bakbak+One&family=Kanit:wght@400&family=Maven+Pro&display=swap" rel="stylesheet">

<style>
    body {
      background-image: url("{% static '/images/bg5.jpg' %}") !important;
      background-size: cover;
      background-attachment: fixed;
      background-position: center;
      backdrop-filter: blur(130px);
    }
</style>

<!-- <div>
    <img src="{% static 'images/apelogotext.svg' %}" alt="logo" class="self-center w-72 ml-8 p-5">
</div> -->

<div class="flex flex-row justify-evenly w-screen h-screen">
        <!-- Project Title/Logo -->
    <div class="grid grid-rows-3 w-[32rem] ml-15">
        <div>
            <img src="{% static 'images/apelogotext.svg' %}" alt="logo" class="w-64 mt-10 -ml-8">
        </div>
        <div class="flex flex-col self-center">
            <div class="text-yellow-300 text-3xl font-bold">Sign up Today</div>
            <div class="text-white text-6xl font-extrabold mt-3">Track Your Crypto Portfolio</div>
            <div class="text-white text-2xl font-light italic mt-7 mb-7">Don't miss out...
                <br>Manage your trades on the blockchain.</br></div>
            <div class="flex gap-4 mt-5">
                <button><a href="{% url 'mc' %}" class="flex justify-center w-44 hover:bg-opacity-30 hover:outline ease-in-out duration-150 fontKanit text-[#FFFDC9] text-lg rounded-full bg-[#01013D] py-3">Market Cap</a>
                </button>
                <button><a href="{% url 'login' %}" class="flex justify-center hover:bg-opacity-30 hover:outline ease-in-out duration-150 fontKanit text-[#FFFDC9] text-lg rounded-full bg-[#01013D] w-44 py-3">Login/Register</a>
                </button>
            </div>
        </div>
    </div>
    <div class="self-center justify-center">
        <img src="{% static 'images/portfolio-thumb.png' %}" alt="portfolio thumbnail" class="customShadow customWidth self-center rounded-2xl" >
    </div>
</div>