{% extends "entry-base.html" %}
{% block content %}
<div class="self-center text-lg font-bold m-3">
    Project Name
</div>
<form method="post" action="" class="flex flex-col mb-0">
    {% csrf_token %}
    <label class="block text-sm font-medium text-gray-900">Username</label>
    <div class='my-3'>
        {{ form.username }}
    </div>
    <label class="block text-sm font-medium text-gray-900">Password</label>
    <div class='my-3'>
        {{ form.password }}
    </div>
    <!-- <div class="m-3">
        <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg w-full p-2.5" placeholder="Password" required>
    </div> -->
    <button type="submit" class=" text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center m-5">Login</button>
</form>
<hr class="w-full" /> <!-- Dividing line -->
<button class="text-blue-700 mt-3"><a href="{% url 'registration' %}">Register</a></button>
{% endblock content %}


