{% extends "entry-base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}">

<div class="flex justify-center pb-8">
    <a href="{% url 'landing' %}"><img src="{% static 'images/apelogotext.svg' %}" alt="logo" class="w-72"></a>
</div>
<form method="post" action="" class="flex flex-col mb-0 px-2">
    {% csrf_token %}
    <label class="block text-sm font-normal text-[#FFFDC9]">Username</label>
    <div class='my-3'>
        {{ form.username }}
    </div>
    <label class="block text-sm font-normal text-[#FFFDC9]">Password</label>
    <div class='my-3'>
        {{ form.password }}
    </div>
    <button type="submit" class="text-lg hover:bg-[#454570] hover:text-white rounded-full bg-[#01013D] border border-[#6F7CF1] text-[#FFFDC9] m-5 px-4 py-1">Login</button>
</form>
<hr class="w-full border-t border-[#FFFDC9]" /> <!-- Dividing line -->
<div class="flex justify-center">
    <button class="text-[#6F7CF1] font-medium mt-3 hover:text-gray-400"><a href="{% url 'registration' %}">Register</a></button>
</div>
{% endblock content %}


