{% extends "base.html" %}

{% block content %}
<div class="flex flex-col items-center">
    <div class="w-3/5">
        <!-- Navigation tabs -->
        <div class="mt-28 ml-14">
            <ul class="flex text-2xl gap-6">
                <li>
                    <button class="text-[#FFFDC9] fontKanit hover:underline underline-offset-8 decoration-indigo-100"><a href="{% url 'portfolio' %}">Portfolio</a></button>
                </li>
                <li>
                    <button class="text-yellow-400 fontKanit hover:underline underline-offset-8 decoration-indigo-100"><a href="{% url 'mc' %}">Marketcap</a></button>
                </li>
            </ul>
        </div>
        <div class="h-fit mt-6 mb-16 py-12 px-10 shadow-xl rounded-xl bg-[#16004F] bg-opacity-60" style="box-shadow: 0px 7px 29px rgba(232, 145, 172, .25)">
            {% block main %} 
            {% endblock main %}
        </div>
    </div>
</div>
{% endblock content %}