{% extends "mc-base.html" %}
{% block main %}
<h1>Marketcap Page</h1>
<!-- Asset Entries Table -->
<div class="rounded-xl shadow-md overflow-x-auto">
    <div class="table w-full">
        <div class="table-header-group bg-slate-800 text-white text-xl font-bold">
            <div class="table-row">
                <!-- TODO: Fix symbol icon positioning -->
                <div class="table-cell p-2">#</div>
                <div class="table-cell p-2">Coin</div>
                <div class="table-cell p-2">Price</div>
                <div class="table-cell p-2">Marketcap</div>
                <div class="table-cell p-2">7d</div>
                <div class="table-cell p-2">24h Volume</div>
            </div>
        </div>
        <div class="table-row-group text-2xl">
            <div class="table-row hover:bg-slate-200">
                <div class="table-cell p-2">1</div>
                {% if button_pressed %}
                    <div class="table-cell p-2">🐳 {{ asset_name }}</div>
                    <div class="table-cell p-2">{{ asset_price }}</div>
                {% endif %}
                <div class="table-cell p-2">$300,000,000</div>
                <div class="table-cell p-2">5%</div>
                <div class="table-cell p-2">$25,000,000</div>
            </div>
            <div class="table-row hover:bg-slate-200">
                <div class="table-cell p-2">2</div>
                <div class="table-cell p-2">🦀 ETH</div>
                <div class="table-cell p-2">$1,200</div>
                <div class="table-cell p-2">-$0.10</div>
                <div class="table-cell p-2">$90.20</div>
            </div>
            <div class="table-row hover:bg-slate-200">
                <div class="table-cell p-2">3</div>
                <div class="table-cell p-2">🌋 SOL</div>
                <div class="table-cell p-2">$37</div>
                <div class="table-cell p-2">+$0.10</div>
                <div class="table-cell p-2">$750.20</div>
            </div>
        </div>
    </div>
    <div class="flex justify-center mt-10 text-lg">
        <button id="addTokenButton" class="px-4 py-1 hover:bg-gray-600 hover:text-white rounded-2xl bg-gray-800 text-slate-300">Get CoinGecko Data for BTC</button>
    </div>
</div>
{% endblock main %}
