{% extends "portfolio-base.html" %}
{% block main %}
<!--Balance & Graph Information -->
<div class="mb-12 p-3 bg-[#230679]/30 text-[#FFFDC9] border border-[#6F7CF1]/40 rounded-xl shadow-md">
    <div class="mb-1 text-lg">
        Balance
    </div>
    <div class="mb-5 text-4xl">
        $1340.60
    </div>
</div>
<!-- Asset Entries Table -->
<div class="rounded-xl shadow-md overflow-x-auto border border-[#6F7CF1]/40 text-[#FFFDC9] font-light"> <!--Border will work for whole table but does not work for individual row on line 15. Must be a tailwind thing. This will probably end up being it's own div due to overlapping div design from Figma. -->
    <div class="table w-full">
        <div class="table-header-group bg-[#17014F] text-xl">
            <div class="table-row">
                <!-- TODO: Fix symbol icon positioning -->
                <div class="table-cell pl-3">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" viewBox="0 -1 21 18" fill="currentColor">
                        <path fill-rule="evenodd"
                            d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-7-4a1 1 0 11-2 0 1 1 0 012 0zM9 9a1 1 0 000 2v3a1 1 0 001 1h1a1 1 0 100-2v-3a1 1 0 00-1-1H9z"
                            clip-rule="evenodd" />
                    </svg>
                </div>
                <div class="table-cell p-2">Coin</div>
                <div class="table-cell p-2">Price</div>
                <div class="table-cell p-2">PnL</div>
                <div class="table-cell p-2">Holdings</div>
                <div class="table-cell py-2 pr-4 w-20">Actions</div>
            </div>
        </div>
        <div class="table-row-group bg-[#230679]/30 text-lg text-[#FFFDC9]">
            {% for asset in asset_entries %}
            <div id="asset-{{ forloop.counter }}" class="table-row hover:bg-[#17014F]/60">
                <div class="table-cell align-middle p-2">🦀</div>
                <div class="table-cell align-middle p-2">{{ asset.name }}</div>
                <div id="asset-price" class="table-cell align-middle p-2">{{ asset.price_at_purchase }}</div>
                <div class="table-cell align-middle p-2">[CG API]</div>
                <div class="table-cell p-2">
                    <div id="asset-value"></div>
                    <div id="asset-quantity">{{ asset.quantity }}</div>
                </div>
                <div class="table-cell align-middle p-2">
                    <!-- Edit -->
                    <a href="{% url 'asset_edit' asset.id %}" class="flex flex-col">
                        <button type="submit" id="edit-button"
                            class="self-center text-gray-400 hover:bg-gray-200 hover:text-gray-900">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor" stroke-width="2">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                            </svg>
                        </button>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Add token -->
<div class="flex justify-center mt-10 text-lg">
    <button id="addTokenButton"
        class="px-4 py-1 hover:bg-[#01013D]/10 hover:text-white rounded-2xl bg-[#01013D] border border-[#6F7CF1] text-slate-300">+ Add Token</button>
</div>

<!-- Add Token Modal -->
<div id="authentication-modal"
    class="backdrop-blur-sm bg-black/70 hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 w-full h-modal md:h-full justify-center items-center"
    aria-modal="true">
    <div class="relative p-4 w-full max-w-md h-full md:h-auto">
        <div class="relative bg-white rounded-lg">
            <!-- Close button -->
            <button id="add-close" type="button"
                class="absolute top-3 right-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center">
                <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z">
                    </path>
                </svg>
            </button>
            <div class="rflex flex-col py-6 px-6 lg:px-8">
                <h3 class="self-center font-semibold my-5 text-xl text-gray-900">Enter New Token Information</h3>
                <!-- Form start -->
                <form method="post" class="" action="">
                    {% csrf_token %}
                    <label class="block mb-1 mt-6 text-sm font-medium text-gray-900">Token Name</label>
                    <div class=''>
                        {{ form.name }}
                    </div>
                    {{ tokens|json_script:"token-data" }}
                    {{ form.coingecko_id }}
                    <label class="block mb-1 mt-4 text-sm font-medium text-gray-900">Cost Basis</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <span class="text-gray-500 sm:text-sm"> $ </span>
                        </div>
                        {{ form.cost_basis }}
                    </div>
                    <label class="block mb-1 mt-4 text-sm font-medium text-gray-900">Quantity</label>
                    <div class="">
                        {{ form.quantity }}
                    </div>
                    <label class="block mb-1 mt-4 text-sm font-medium text-gray-900">Price</label>
                    <div class="relative">
                        <div class="absolute inset-y-0 left-0 pl-3 flex items-center pointer-events-none">
                            <span class="text-gray-500 sm:text-sm"> $ </span>
                        </div>
                        {{ form.price_at_purchase }}
                    </div>
                    <div class="flex justify-center mt-6">
                        <button type="submit" id="submit-new-token"
                            class="px-4 py-1 hover:bg-gray-600 hover:text-white rounded-2xl bg-gray-800 text-slate-300">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Donut Chart --> 
<div id="donut-chart">
</div>
<script src="https://d3js.org/d3.v7.min.js"></script>

<script>
    // Donut Chart
    // TODO - Can this be made responsive?
    const width = 300,
        height = 300,
        margin = 40;
    const radius = Math.min(width, height) / 2 - margin;
    const innerR = radius / 2;
    const svg = d3.select("#donut-chart")
        .append("svg")
            .attr("width", width)
            .attr("height", height)
        .append("g")
            .attr("transform", `translate(${width / 2}, ${height / 2})`);

    // Test data - REPLACE with the portfolio contents 
    // This data will need to consist of the coin name as the key and the holdings as
    // the value. Arc size will be dependent on the holding value
    const data = {a: 9, b: 20, c: 30, d: 8, e: 12};

    // Set the color scale
    // TODO - Choose specific color scheme??
    const colorScale = d3.scaleOrdinal(d3.schemeTableau10);

    // Compute the position of each group on the pie
    const pie = d3.pie()
        .value(d => d[1]);
    const data_ready = pie(Object.entries(data));

    // Build the pie chart
    svg
        .selectAll('whatever')
        .data(data_ready)
        .join('path')
        .attr('d', d3.arc()
            .innerRadius(innerR)
            .outerRadius(radius)
        )
        .attr('fill', d => colorScale(d));

    // Button Event Listeners
    const addElement = document.getElementById("addTokenButton");
    addElement.addEventListener('click', addEntry, false);

    /* TODO 
Need to refactor this into show modal and close modal functions
Each function should be able to handle ANY element as an input to the function
I thihk the only variables that will need to be defined outside the functions are
for the button and the modal. The close button is universal to all modals so it 
can be contained inside the close modal function
*/

    function addEntry() {
        const modal = document.getElementById("authentication-modal");
        modal.style.display = "flex";

        const closeBtn = document.getElementById("add-close");
        closeBtn.onclick = function () {
            modal.style.display = "none";
        }

        window.onclick = function (event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    }

    document.querySelector('#id_name').addEventListener('change', updateCoingeckoId);

    function updateCoingeckoId() {
        let tokens = JSON.parse(document.getElementById('token-data').textContent);
        let tokenSelected = document.querySelector('#id_name').selectedOptions[0].label;
        let coingeckoId = document.querySelector('#id_coingecko_id');

        coingeckoId.value = tokens[tokenSelected];
        console.log(coingeckoId.value);
    }

    /* Calculate asset value */

    let assetValue = document.querySelectorAll('#asset-value');
    assetValue.forEach(item => {
        let currentPrice = document.querySelector('#asset-1 > #asset-price').innerText;
        let quantity = 2
        item.innerText = `$${(currentPrice * quantity).toFixed(2)}`
    })

</script>
{% endblock main %}