{% extends "entry-base.html" %}
{% block content %}
{% load static %}

<button class="place-self-start hover:bg-[#454570] rounded-full">
    <a href="{% url 'login' %}"><img src="{% static 'images/goback_icon.png' %}" alt="goback_icon" class="w-8"></a>
</button>
<div class="self-center text-2xl text-[#FFFDC9] fontKanit mb-3">
    Registration
</div>
<form method="post" action="" class="flex flex-col p-1 mb-0 text-[#FFFDC9] text-md fontMavenpro">
    {% csrf_token %}
    <label class="block font-normal ">Username</label>
    <div class='my-3'> 
        {{ form.username }}
    </div>
    <label class="block font-normal">Email</label>
    <div class='my-3'>
        {{ form.email }}
    </div>
    <label class="block font-normal">Password</label>
    <div class='my-3'>
        {{ form.password1 }}
    </div>
    <label class="block font-normal">Confirm Password</label>
    <div class="my-3">
        {{ form.password2 }}
    </div>
    <button type="submit" class="text-lg fontKanit hover:bg-opacity-30 hover:outline ease-in-out duration-150 rounded-full bg-[#01013D] border border-[#6F7CF1] text-[#FFFDC9] m-5 px-4 py-1">Submit</button> <!-- button attributes from Flowbite -->
</form>
{% endblock content %}