{% extends "entry-base.html" %}
{% block content %}
<button class="place-self-start text-blue-700">
    <a href="{% url 'login' %}">Back</a>
</button>
<div class="self-center text-md font-bold mb-3">
    Registration
</div>
<form method="post" action="" class="flex flex-col p-1 mb-0">
    {% csrf_token %}
    <label class="block text-sm font-medium text-gray-900">Username</label>
    <div class='my-3'> 
        {{ form.username }}
    </div>
    <label class="block text-sm font-medium text-gray-900">Email</label>
    <div class='my-3'>
        {{ form.email }}
    </div>
    <label class="block text-sm font-medium text-gray-900">Password</label>
    <div class='my-3'>
        {{ form.password1 }}
    </div>
    <label class="block text-sm font-medium text-gray-900">Confirm Password</label>
    <div class="my-3">
        {{ form.password2 }}
    </div>
    <button type="submit" class=" text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center m-5 mb-0">Submit</button> <!-- button attributes from Flowbite -->
</form>
{% endblock content %}